.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
.phpunit.cache
.phpunit.result.cache
tests
docker/mysql/data
docker/data
.idea
.vscode
*.sublime*
.DS_Store
Thumbs.db
